.marca-agua {
    text-align: center;
    padding-top: 15px;
    background-color: rgb(10, 10, 185);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -5px -5px 15px -1px rgb(59, 150, 241);
}

.label {
    color: #f8f5f5;
    font-style: italic;
}

.aceptar {
    margin-top: 20px;
    margin-bottom: 20px;
    background: orangered;
    height: 30px;
    border-color: #414141;
    padding: 0.2rem 0.8rem;
    border-radius: 15px;
    color: #f8f5f5;
    cursor: pointer;
}