.navbar_instrucciones { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarTitle {
    float: left;
    display: block;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    padding: 20px 15px;
}

.navbarBotones {
    float: right;
    display: block;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    padding: 20px 15px;
    cursor: pointer;
}

.navbarBotones:hover {
    background-color: #111;
}

.instruccionesTitle {
    display: block;
    height: 40px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-left: 15px;
    cursor: pointer;
}

.instruccionesTitle:hover {
    background-color: #111;
}

.listaInstrucciones {
    list-style: none; 
    padding: 0; 
    margin-left: 30px;
}

.itemInstruccion::before {
    content: "\2022"; /* Insertamos el marcador */
    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
    color: white;
}

.itemInstruccion {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}